img {
    height: 100px;
    width: auto;
}

.menubar {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    font-family: "Roboto", serif;
    background-color: #1F2937;
}

.header_link {
    justify-content: flex_end;
    color: #E5E7EB;
}