* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-family: "Roboto", serif;
    font-size: 18px;
    color: #fff;
}

img {
    height: 100px;
    width: auto;
    padding-left: 200px;
}

.header_links {
    list-style: none;
    display: flex;
    gap: 5px;
}

.header_links a {
    padding-right: 25px;
    color: #E5E7EB;
    text-decoration: none;
}